@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Faturamentos.FaturamentoAtendimento.RptFaturarAtendimentoResumoContaMedicaModel
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Assistenciais.Home
@using SW10.SWMANAGER.Web.Bundling
@using Abp.Timing
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="language" content="pt-br">
    <link href="@Model.Url@Url.Content("~/Bundles/Mpa/libs/css")" rel="stylesheet" type="text/css">
    <link href="@Model.Url@Url.Content("~/Bundles/Mpa/metronic/css")" rel="stylesheet" type="text/css">
    <link href="@Model.Url@Url.Content("~/Bundles/Common/css")" rel="stylesheet" type="text/css">
    <script src="@Model.Url@Url.Content("~/Bundles/Mpa/libs/js")" type="text/javascript"></script>
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }
        div.page-layout {
            height: 100vh;
            width:100vw;
        }
    </style>
</head>
<body style="background-color: white">
    <div class="page-layout">
        @{
            Html.RenderAction("_headerAtendimentoPacienteNavBar", "Assistenciais", new { AtendimentoId = Model.AtendimentoId, Options = new HeaderAtendimentoPacienteNavBarOptions(true) });
        }

        @Model.RenderConta()
    </div>
</body>
</html>