@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.MotivosCancelamento.CriarOuEditarMotivoCancelamentoModalViewModel
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditMotivoCancelamento") + ": " + Model.Descricao) : L("CreateNewMotivoCancelamento")))

<div class="modal-body container-fluid">
    <div class="tabbable-line container-fluid">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#MotivoCancelamentoInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("MotivoCancelamento")
                </a>
            </li>
        </ul>

        <div class="tab-content container-fluid">
            <div class="tab-pane active" id="MotivoCancelamentoInformationsTab">
                <div class="portlet light margin-bottom-0">
                    <div class="portlet-body">
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <form name="MotivoCancelamentoInformationsForm" role="form" novalidate class="form-validation">
                                    @if (Model.IsEditMode)
                                    {
                                        <input type="hidden" name="Id" value="@Model.Id" />
                                    }
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                <input name="Descricao" class="form-control@(Model.Descricao.IsNullOrEmpty() ? " " : " edited")" type="text" value="@Model.Descricao">
                                                <label>@L("DescricaoMotivoCancelamento")</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input name="IsAtivo" id="chk-is-capital" class="md-check" type="checkbox" value="true" @Html.Raw(Model.IsAtivo ? "checked=\"checked\"" : "") />
                                                    <label for="chk-is-capital">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("IsAtivoCancelamento")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")