@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions

@*@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Produtos.ProdutosViewModel*@
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Produtos.CriarOuEditarProdutoSaldoViewModel

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Produtos/index.min.css")
    @*<link href="~/libs/jquery-chosen/css/chosen.css" rel="stylesheet" />
        <link href="~/libs/jquery-te/jquery-te-1.4.0.css" rel="stylesheet" />*@
}
@section Scripts
    {
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Produtos/_ProdutoSaldoDetalhado.js")
}

<div class="portlet light">
    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Bold.cshtml", new ModalHeaderViewModel(L("DetalheEstoque") + ": " + Model.Estoque.Descricao))
    @*@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader_Bold.cshtml", new ModalHeaderViewModel(L("DetalheEstoque") + ": "))*@
    <div class="portlet-body">
         <input type="hidden" id="idProduto" value="@Model.ProdutoId" />
        <input type="hidden" id="idEstoque" value="@Model.EstoqueId" />

        <div class="modal-body container-fluid">
                <div id="ProdutoSaldoDetalhadoTable"></div>
        </div>

    </div>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")

