@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals

@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.ConsultorTabelas.CriarOuEditarConsultorTabelaModalViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditConsultorTabela") + ": " + Model.Nome) : L("CreateNewConsultorTabela")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#ConsultorTabelaInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("ConsultorTabela")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="ConsultorTabelaInformationsTab">
                <form name="ConsultorTabelaInformationsForm" role="form" novalidate class="form-validation">

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" id="id" value="@Model.Id" />
                    }
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Codigo" class="form-control@(Model.Codigo.IsNullOrEmpty() ? "" : " edited")" value="@Model.Codigo" required>
                                <label>@L("Codigo")</label>
                            </div>
                        </div>
                   
                        <div class="col-sm-7">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Nome" class="form-control@(Model.Nome.IsNullOrEmpty() ? "" : " edited")" value="@Model.Nome" required>
                                <label>@L("Nome")</label>
                            </div>
                        </div>
                        @*<div class="col-sm-3">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <select class="form-control selectpicker" id="consultor-tabela-item-menu-id" name="ItemMenu">
                                    @foreach (Grupo item in ViewBag.Menu)
                                    {
                                        <optgroup label="@item.Titulo">
                                            @foreach (string i in item.Itens)
                                            {
                                                var valor = item.Titulo + "/" + i;
                                                if (Model.ItemMenu != null && Model.ItemMenu.Contains(i) && Model.ItemMenu.Contains(item.Titulo))
                                                {
                                                    <option value="@valor" selected>@i</option>
                                                }
                                                else
                                                {
                                                    <option value="@valor">@i</option>
                                                }
                                            }
                                        </optgroup>
                                    }
                                </select>
                                <label>@L("ItemMenu")</label>
                            </div>
                        </div>*@
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Descricao" class="form-control@(Model.Descricao.IsNullOrEmpty() ? "" : " edited")" value="@Model.Descricao" required>
                                <label>@L("Descricao")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Observacao" class="form-control@(Model.Observacao.IsNullOrEmpty() ? "" : " edited")" value="@Model.Observacao" required>
                                <label>@L("Observacao")</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            @if (Model.IsEditMode)
            {
                <div id="ConsultorTabelaCamposInformationsTab">
                    <div id="ConsultorTabelaCamposTable"></div>
                    <div id="consultor-tabela-campo-list"></div>
                </div>
            }
        </div>
    </div>
</div>


@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")