@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Assistenciais.Atestados.CriarOuEditarAtestadoViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditAtestado") + ": " + Model.Id) : L("CreateNewAtestado")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#AtestadoInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("Atestado")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="AtestadoInformationsTab">
                <form name="AtestadoInformationsForm" role="form" novalidate class="form-validation">
                    <input type="hidden" name="PacienteId" value="@Model.PacienteId" id="paciente-id" />
                    <input type="hidden" name="MedicoId" value="@Model.MedicoId" id="medico-id" />
                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="CreatorUserId" value="@Model.CreatorUserId" />
                    }
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control@(Model.DataAtendimento.ToString().IsNullOrEmpty() ? "" : " edited")" value="@(Model.DataAtendimento.ToString("dd/MM/yyyy").Equals("01/01/0001")?DateTime.Now.ToShortDateString():Model.DataAtendimento.ToShortDateString())" type="text" name="DataAtendimento">
                                <label>@L("DataAtendimento")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                @Html.DropDownListFor(m => m.TipoAtestadoId, Model.TiposAtestados, L("SelecioneLista"), new { @class = "form-control selectpicker", id = "tipo-atestado-id" })
                                <label>@L("TipoAtestado")</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                @Html.DropDownListFor(m => m.ModeloAtestadoId, Model.ModelosAtestados, L("SelecioneLista"), new { @class = "form-control selectpicker", id = "modelo-atestado-id" })
                                <label>@L("ModeloAtestado")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="search" name="PacienteSearch" id="paciente-search" class="form-control@(Model.PacienteId == 0 ? " " : " edited")" value="@(Model.PacienteId > 0 ? Model.Paciente.NomeCompleto : string.Empty)" />
                                <label>@L("Paciente")</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="search" name="MedicoSearch" id="medico-search" class="form-control@(Model.MedicoId == 0 ? " " : " edited")" v value="@(Model.MedicoId > 0 ? Model.Medico.NomeCompleto : string.Empty)" />
                                <label>@L("Medico")</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea name="Conteudo" id="conteudo" rows="5" class="jtable-textarea-input text-editor">@Model.Conteudo</textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
