@model SW10.SWMANAGER.ClassesAplicacao.Services.Atendimentos.Atendimentos.Dto.AtendimentoDto


<div class="row">
    <div class="col-sm-12 alert alert-info">
        <span>@L("Acoes")</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <button name="Editar" id="btn-editar-atendimento-@(Model.Id)" class="btn btn-warning"><i class="icon-edit-sign"></i>@L("Editar")</button>
    </div>
    <div class="col-sm-2">
        <button name="Imprimir" id="btn-editar" class="btn btn-primary"><i class="icon-print"></i>@L("Imprimir")</button>
    </div>
    <div class="col-sm-2">
        <button name="Exportar" id="btn-editar" class="btn btn-default"><i class="icon-edit-sign"></i>@L("Exportar")</button>
    </div>
    <div class="col-sm-2">
        <button name="Exportar" id="btn-editar" class="btn btn-success"><i class="icon-edit-sign"></i>@L("Exportar")</button>
    </div>
    <div class="col-sm-2">
        <button name="Exportar" id="btn-editar" class="btn btn-danger"><i class="icon-edit-sign"></i>@L("Exportar")</button>
    </div>
    <div class="col-sm-2">
        <button name="Exportar" id="btn-editar" class="btn btn-info"><i class="icon-edit-sign"></i>@L("Exportar")</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <button name="Editar" id="btn-editar" class="btn btn-warning"><i class="icon-edit-sign"></i>@L("Editar")</button>
    </div>
    <div class="col-sm-2">
        <button name="Imprimir" id="btn-editar" class="btn btn-primary"><i class="icon-print"></i>@L("Imprimir")</button>
    </div>
    <div class="col-sm-2">
        <button name="Exportar" id="btn-editar" class="btn btn-default"><i class="icon-edit-sign"></i>@L("Exportar")</button>
    </div>
    <div class="col-sm-2">
        <button name="Exportar" id="btn-editar" class="btn btn-success"><i class="icon-edit-sign"></i>@L("Exportar")</button>
    </div>
    <div class="col-sm-2">
        <button name="Exportar" id="btn-editar" class="btn btn-danger"><i class="icon-edit-sign"></i>@L("Exportar")</button>
    </div>
    <div class="col-sm-2">
        <button name="Exportar" id="btn-editar" class="btn btn-info"><i class="icon-edit-sign"></i>@L("Exportar")</button>
    </div>
</div>

