@using Abp.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.TiposParticipacoes.CriarOuEditarTipoParticipacaoModalViewModel
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditTipoParticipacao") + ": " + Model.Descricao) : L("CreateNewTipoParticipacao")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#TipoParticipacaoInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("TipoParticipacao")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="TipoParticipacaoInformationsTab">
                <form name="TipoParticipacaoInformationsForm" role="form" novalidate class="form-validation">

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }
                    <div class="row">
                        <div class="col-sm-8">
                            @*<div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control@(Model.CreationTime.ToString().IsNullOrEmpty() ? "" : " edited")" value="@(Model.CreationTime.ToString("dd/MM/yyyy").Equals("01/01/0001")?DateTime.Now.ToShortDateString():Model.CreationTime.ToShortDateString())" type="text" id="criacao" name="Criacao">
                                <label>@L("Criacao")</label>
                            </div>*@

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Descricao" class="form-control@(Model.Descricao.IsNullOrEmpty() ? "" : " edited")" value="@Model.Descricao" required>
                                <label>@L("Descricao")</label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
