@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Areas.Mpa.Models.Common.Modals
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Cadastros.Assistenciais.Prescricoes.PrescricoesItens.CriarOuEditarSubItensPrescricaoViewModel
@Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Assistenciais/Prescricoes/configuracaoPrescricao.js")
<style type="text/css">
    .sub-item-prescricao .content-configuracao {
        max-height: 850px !important;
    }
</style>
<div class="portlet light sub-item-prescricao" style="padding: 0 !important;">
    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Configuração de SubItem de Prescrição"))
    <div class="portlet-body">
        <form id="form-sub-item-prescricao" role="form" novalidate class="form-validation">
            <input type="hidden" name="prescricaoItemId" id="prescricaoItemId" value="@Model.PrescricaoItemId"/>
            <input type="hidden" name="subPrescricaoItemId" id="subPrescricaoItemId" value="@(!Model.SubPrescricaoItemId.HasValue ? 0 : Model.SubPrescricaoItemId.Value)"/>
            <div class="row">
                <div class="col-md-2" style="padding: 0 20px !important;">
                    <div class="form-group">
                        <h5 class="font-weight-bold">Codigo</h5>
                        <input type="text" name="codigo" class="form-control" autocomplete="off" value="@(Model.SubPrescricaoItem != null ? Model.SubPrescricaoItem.Codigo : "")"/>
                    </div>
                </div>
                <div class="col-md-10" style="padding: 0 20px !important;">
                    <div class="form-group">
                        <h5 class="font-weight-bold">Descricao</h5>
                        <input type="text" name="descricao" class="form-control" autocomplete="off" value="@Model.SubItemPrescricaoDescricao()"/>
                    </div>
                </div>
                <div id="configuracao-sub-prescricao-item-tab" class="col-md-12" style="padding: 10px 20px !important;"></div>
            </div>
        </form>
    </div>
    @Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</div>