@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Web.Bundling
@model SW10.SWMANAGER.Web.Areas.Mpa.Models.Aplicacao.Faturamentos.ContasItens.ContaItensViewModel

@{
   // ViewBag.CurrentPageName = PageNames.App.FaturamentosGlobais.ContaItem;
}

@section Styles
{
    @Html.IncludeStyle("~/libs/jquery-te/jquery-te-1.4.0.css")

    @Html.IncludeStyle("~/libs/pretty-checkbox/pretty-checkbox.min.css")
    @Html.IncludeStyle("~/libs/ag-grid-community/ag-grid.css")
    @Html.IncludeStyle("~/libs/ag-grid-community/ag-theme-alpine.css")
    
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2.min.css")
    @Html.IncludeStyle("~/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css")
    @Html.IncludeStyle(StylePaths.FontAwesome)
}

@section Scripts
{
    @Html.IncludeScript("~/libs/numeral/numeral.min.js")
    @Html.IncludeScript("~/libs/numeral/numeral.pt-br.min.js")
    @Html.IncludeScript("~/libs/ag-grid-community/ag-grid-community.min.noStyle.js")
    @Html.IncludeScript("~/libs/lodash/lodash.js")
    @Html.IncludeScript("~/Scripts/agGrid/agGridBase.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Faturamentos/Lotes/Criar/Index.js")
}
<style type="text/css">
   
        
    .dashboard-stat
    {
        height: 70px;
    }
    .dashboard-stat .visual {
        padding-top: 15px !important;
        margin-left: 15px !important;
    }
    .dashboard-stat .visual > i {
        margin-left: -17px;
        font-size: 55px;
        line-height: 45px;
    }
    .qtd-render {
        width: 100%;
        display: inline-block;
    }

 .ag-theme-alpine {
        font-size: 12px;
    }
    .ag-theme-alpine .ag-row {
        font-size: 11px !important;
    }
    
    .badge-ag-grid {
        border-radius: 6px !important;
    }

    .ag-floating-filter-body {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        height: 100%;
    }

    .ag-input-wrapper, .ag-picker-field-wrapper {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        line-height: normal;
        position: relative;
    }

    .ag-header-cell.ag-focus-managed .ag-floating-filter-input:read-only {
        background-color: transparent;
    }
    .ag-header-cell.ag-focus-managed .ag-floating-filter-input .ag-input-field {
        height: 100%
    }

    .loader {
        /*position: fixed;
        left: 0px;
        top: 20%;
        /*width: 100%;
        height: 100%;
        z-index: 9999;*/
        text-align: center;
    }


        .loader .loading {
            font-size: 22px;
            margin-top: -60px !important;
            margin-left: 30px;
        }

            .loader .loading span {
                font-size: 50px;
                animation-name: blink;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }

                .loader .loading span:nth-child(2) {
                    animation-delay: .2s;
                }

                .loader .loading span:nth-child(3) {
                    animation-delay: .4s;
                }

        .loader .modal {
        }

        .loader .vertical-alignment-helper {
            display: table;
            height: 100%;
            width: 100%;
        }

        .loader .vertical-align-center {
            /* To center vertically */
            display: table-cell;
            vertical-align: middle;
        }

        .loader .modal-content {
            /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
            width: inherit;
            height: inherit;
            /* To center horizontally */
            margin: 0 auto;
        }
        
        .select-num-per-pages-container .select2-selection.select2-selection--single 
        {
            height: auto !important;
        }
        
        .tooltip-info {
            position: absolute;
            right: 6px;
            top: 1px;
            z-index: 1000;
            color: white;
            background-color: transparent;
            padding: 4px !important;
            } 
</style>

<div class="portlet light" >
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Empresas</label>
                    <select class="form-control select2 selectEmpresa" required="required"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Convenio</label>
                    <select class="form-control select2 selectConvenio" required="required"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Periodo</label>
                    <input type="text" class="form-control date-range-picker date-custom" required="required" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Número Processo</label>
                    <input type="text" class="form-control numeroProcesso" required="required" />
                </div>
            </div>
            <div class="col-md-2" style="padding-top: 24px">
                <div class="row pull-right">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="pretty p-default p-round p-thick">
                                <input type="checkbox" class="internacao chk-tipo-internacao" name="tipoInternacao" value="internacao" />
                                <div class="state p-danger-o">
                                    <label>Internação</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="pretty p-default p-round p-thick">
                                <input type="checkbox" class="emergencia chk-tipo-internacao" name="tipoInternacao" value="emergencia" checked="checked" />
                                <div class="state p-danger-o">
                                    <label>Emergencia</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            
            
            <div class="col-md-12">
                <div class="text-right pull-right">
                    <button type="button" class="btn btn-primary btn-gerar-lote" style="padding: 10px 10px"> <i class="fas fa-plus-circle"></i>Criar Lote</button>
                </div>
            </div>
        </div>
        <div class="row row-grid-content" style="padding-top: 15px">
            <div class="col-md-12">
                <div class="grid-principal ag-theme-alpine" style="height: 350px;min-height: 220px;width:100%;"></div>
            </div>
        </div>
        <div class="collapse" id="relation-collapse" style="max-height: 370px">
            <div class="row" style="padding-top: 15px">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active"> <a href="#tab-conta-medica" data-toggle="tab"> Contas Medicas</a> </li>
                        @* <li> <a href="#tab-guias" data-toggle="tab"> Guias</a> </li> *@
                        <li> <a href="#tab-itens-faturamento" data-toggle="tab"> Itens do Atendimento</a> </li>
                        <li> <a href="#tab-ocorrencias" data-toggle="tab">Ocorrencias </a> </li>
                        <li class="pull-right"> <a class="btn btn-primary add-tab-button" style="padding: 10px 10px;margin-bottom: 10px;"></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-conta-medica">
                            <div class="grid-conta-medica ag-theme-alpine" style="height: 300px;width:100%;"></div>
                        </div>
                        <div class="tab-pane" id="tab-itens-faturamento">
                            <div class="grid-itens-faturamento ag-theme-alpine" style="height: 300px;width:100%;"></div>
                        </div>
                        @* <div class="tab-pane" id="tab-guias"> *@
                        @*     <div class="grid-guias ag-theme-alpine" style="height: 300px;width:100%;"></div> *@
                        @* </div> *@
                        <div class="tab-pane" id="tab-ocorrencias">
                            <div class="grid-ocorrencia ag-theme-alpine" style="height: 300px;width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>