@using Abp.Web.Mvc.Extensions
@using SW10.SWMANAGER.Authorization
@using SW10.SWMANAGER.Web.Navigation
@using SW10.SWMANAGER.Web.Areas.Mpa.Views.SMWEHelpers

@{
    ViewBag.CurrentPageName = PageNames.App.CadastrosLaboratorio.ResultadoExame;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/ResultadosExames/index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Aplicacao/Cadastros/Laboratorios/ResultadosExames/Index.js")

    @using (Html.InjetarJavascript()) { }

}

<div class="portlet light margin-bottom-0">
    <!--título page-->
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-user-md"></i>
            <span class="caption-subject bold uppercase">@L("ResultadosExames")</span>
            <span class="caption-helper">@L("ExamesColeta")</span>
        </div>
        <!--ações page-->
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href=""> </a>
        </div>
        <!--fim ações page-->
    </div>
    <!--fim título page-->
    <div class="portlet-body">
        <div class="row margin-bottom-5">
            <div class="col-xs-12 text-right">
                <img src="~/Common/Images/Icons/excel.png" id="ExportarResultadosExamesParaExcelButton" alt="Exportar para Excel" class="icone-export" style="border:none;" />
                @if (IsGranted(AppPermissions.Pages_Tenant_Laboratorio_Cadastros_ResultadoExame_Create))
                {
                    <button id="CreateNewResultadoExameButton" class="btn btn-primary botao-novo"><i class="fa fa-plus"></i> @L("CreateNewResultadoExame")</button>
                }
            </div>
        </div>
        <div class="form">
            <form id="ResultadosExamesFilterForm" class="horizontal-form">
                <input type="hidden" name="ContaId" id="conta-id" />
                <input type="hidden" name="FaturamentoContaId" id="faturamento-conta-id" />
                <div class="form-body" enter-key="vm.getResultadosExames()">
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input id="ResultadosExamesTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.Filtro">
                                            <span class="input-group-btn">
                                                <button id="GetResultadosExamesButton" class="btn default" type="submit"><span class="fa fa-search" title="@L("Filtrar")"></span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="ResultadosExamesTable"></div>
    </div>
</div>
